body{
    background-color: #030B2C;
}
.pics{
    width: 50%;
  
}
.mobile{
    display:flex;
    flex-direction:row;
    margin-top: 3%;

}
.card-text{
    color: white;
}

a:hover {
    color: #FF4500;
}

.img-text{
    padding: 3rem;
    color: white;
    font-size: 3.5rem;
    font-family: 'Prompt', sans-serif, 'Mukta Malar';
}

.fa-solid{
    color: white;
}

a{
    font-family: 'Prompt', 'Mukta Malar';
}

.animate__backInDown{
    animation-duration:2s;
    margin-top:10%;

}


.homepage{
    padding-top: 2%;
    padding-bottom: 2%;


}

.fa-solid{
    font-size: 2em;
}

@media only screen and (max-width :414px){
.img-text{
    
    font-family: 'Prompt', sans-serif, 'Mukta Malar';
    font-size: 0.5rem;
    padding: 2px 2px;
    margin-top: 10%;
}

.pics{
    margin-left: 25%;
}
.fa-solid{
    font-size: 1.5em;
}
}